<!DOCTYPE html>
<html>

<head>
    <title>Image Classificator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    </link>
</head>

<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<div id="upload_function_container"></div>

<script src="upload_function.js"></script>

<body>

    <main>
        <h1>Image Classificator</h1>

        <!-- Content -->
        <div class="content">

            <div class="border_container" id="target_container">
                <div class="drag_file_zone" id="drop_target" ondrop="upload_file(event)"
                    ondragover="drag_over(); return false;" ondragleave="drag_leave();" style="text-align: center;">

                    <div id="drop_click_zone" onclick="file_explorer()">
                        <div class="drag_file_header">
                            <p id="drag_header">Drag & drop a picture</p>
                        </div>

                        <div class="icon">
                            <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
                            <lord-icon id="some_test" src="https://cdn.lordicon.com/fgkmrslx.json"
                                colors="primary:#53c1ec,secondary:#53c1ec" style="width:250px;height:250px">
                            </lord-icon>
                        </div>
                    </div>

                    <div class="button_container">
                        <label class="add_button">
                            <span>Add Picture</span>
                            <input id="input" onchange="upload_file_button(event)" type="file"
                                accept=".png, .jpg, jpeg" />
                        </label>
                    </div>
                </div>
            </div>

            <div id="create_output"></div>

            <div id="info_section">
                <div id="some_info">
                    <h3>About the classifier</h3>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                        elementum.
                    </p>
                </div>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div>
            <a href="https://github.com/zottelsheep/meds_cloud_7" id="github_icon" class="fa fa-github"></a>
        </div>
    </footer>

    <!-- Script -->
    <script src="../static/script.js"></script>

</body>

</html>