<!DOCTYPE html>
<html>

<head>
    <title>Image Classificator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/style.css">
    </link>
</head>

<body>

    <main>
        <h1>Image Classificator</h1>

        <!-- Content -->
        <div class="content">

            <div class="border_container" id="target_container">
                <div class="drag_file_zone" id="drop_target" ondrop="m.upload_file(event)"
                    ondragover="m.drag_over(); return false;" ondragleave="m.drag_leave();" onclick="m.file_explorer()"
                    style="text-align: center;">

                    <div class="drag_file_header">
                        <p id="drag_header">Drag &amp; drop a picture</p>
                    </div>

                    <div class="icon">
                       <lord-icon id="loading_picture_icon" src="https://cdn.lordicon.com/fgkmrslx.json"
                           colors="primary:#53c1ec,secondary:#53c1ec" style="width:250px;height:250px">
                       </lord-icon>
                    </div>

                    <div class="drag_file_header">
                        <p id="drag_header">Or click to browse</p>
                    </div>
                </div>
            </div>

            <div id="buttons_container">
                <button id="add_button" class="button" onclick="m.file_explorer()">Add Picture</button>
                <button id="request_button" class="button" onclick="m.resend_request_button()">Resend Request</button>
            </div>

            <div id="output_container"></div>

            <div id="info_section">
                <div id="some_info">
                    <h3>About the classifier</h3>
                    <p>This web application uses the Xception model for object classification. To classify something,
                        simply insert an image above. You will then receive the corresponding output.
                    </p>
                </div>
            </div>

        </div>
    </main>

    <!-- Footer -->
    <footer id="footer">
        <div>
            <a href="https://github.com/zottelsheep/meds_cloud_7" id="github_icon" class="fa fa-github"></a>
        </div>
    </footer>

    <!-- Script -->
    <script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
    <script src="./static/script.js"></script>
    <script> let m = new app(api_endpoint="{{api_endpoint}}") </script>

</body>
